        button {
            all: unset;
            display: inline-block; 
            cursor: pointer; 
        }
        
        .contact-button button{
            all:revert;
            padding: 10px 20px;
            border: 2px solid #e65729;
            border-radius: 25px;
            background: #e65729;
            color: #fdf6ed;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
            max-width: 110px;
            min-width: 100px;
        }        


        .contact-button button:hover{
            background-color: black;
            border: 2px solid black;
            animation: fadeIn 3s ease-in forwards;
        }


        .chat-container {
            display: flex;
            width: 100%;
            justify-content: center; /* 수평 정렬 */
        }

        .chat-button-container {
            display: flex;
            width: 100%;
            height: 500px;
            justify-content: center;
            align-items: center;
        }

        .enter-section {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 100px 0 auto;
        }

        .enter-section #coverImg {
            width: 400px;
        }

        #enterBtn {
            display: flex;
            margin-top: -350px;
            font-size: 30px;
            font-weight: bold;
            font-family: 'DOSMyungjo';
            color: #4f4f4f;
            -webkit-font-smoothing: antialiased;
            transition: transform 0.3s ease-in-out, color 0.3s ease;
            text-transform: uppercase;
        }

        #enterBtn:hover {
            transform: scale(1.5);
            color: black;
        }


        
        .chat-box {
            display: none; /* 처음에는 보이지 않도록 설정 */
            width: 600px;
            height: 600px;
            margin-top: 20px;
            border: 4px dotted #e65729;
            background-color: inherit;
            overflow-y: auto; /* 스크롤 활성화 */

            flex-direction: column;
        }

        

        /* chat-box header */
        .chat-header-container {
            display: flex;
            width: 100%;
            height: calc(600px - 450px - 80px);
        }

        .chat-header {
            width: 90%;
            margin: 0 10px auto;
        }

        .chat-btn {
            display: flex;
            width: 5%;
            gap: 15px;
            float: right;
            margin:  0 10px auto;
            padding: 0 20px;
        }

        .chat-framer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
            overflow-x: hidden;
        }

        .chat-notification-container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 0;
            width: 95%;
            max-width: 450px;
            height: 10vh;
            padding-bottom: 15px;
            box-sizing: border-box;
            z-index: 9998;
            overflow: hidden;
            background-color: #ffdec8e3;
            border-radius: 10px;
        }

         .scrolling-text {
            white-space: pre-line;
            /* animation: scrollLeft 15s linear forwards; */
            color: #e65729;
            font-size: 14px;
        }

        /* 메시지 처리 */
        #messages {
            display: flex;
            width: 95%;
            flex-direction: column;
            gap: 10px; 
            list-style-type: none;
            margin: 0;
            padding: 10px; 
            height: 450px;
            overflow-y: auto;
            /* max-height: ; */
        }

        #messages li {
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            max-width: 70%;
            word-wrap: break-word; /* 긴 단어 자동 줄바꿈 */
        }
        .sender {
            text-align: right;
            background-color: #fff0b8;
            /* background-color: #DCF8C6; */
            align-self: flex-end;
            max-width: 500px;
            min-width: auto;
            border-radius: 20px;
            padding: 10px;
        }
        .receiver {
            text-align: left;
            background-color: #ECE5DD;
            align-self: flex-start;
            max-width: 500px;
            min-width: auto;
            border-radius: 20px;
            padding: 10px;
        }
    
        .system-message {
            margin: 0px auto; /* 메시지 위아래로 여백 추가 */
            text-align: center;
            background-color: #e65729;
            color: white;
            font-size: 0.8em;
            padding: 10px; /* 시스템 메시지 패딩 추가 */
            border-radius: 20px; /* 말풍선 스타일 */
            max-width: 250px; /* 시스템 메시지 최대 너비 */
            min-width: 200px;
            word-wrap: break-word; /* 긴 텍스트 줄바꿈 */
            white-space: pre-line; /* 개행 문자를 줄바꿈으로 표시*/
        }

        .input-container {
            display: flex;
            width: 100%;
            height: 60px;
            background: #ece5dd;
        }

        .input-box {
            /* display: flex; */
            display: none;
            flex-direction: row;
            align-items: stretch;
            margin: 10px auto;
            gap: 10px;
        }

        .input-msg {
            width: 470px;
            border-radius: 20px;
            padding-left: 10px; 
            padding-right: 10px;
            font-size: 14px;
            border: none;
        }

        .input-msg:focus {
            outline: 2px solid rgb(236 80 30);
        }

        #emoji-btn {
            background: none;
        }

        #emoji-btn img {
            background-color: inherit;
        }

        /* modal */
        .report-container{
            width: 100%;
            margin-left: 5px;
            justify-content: center;
            align-items: center;            
        }

        #modal-section {
            display: flex;
            width: 350px;
            justify-content: center;
            background-color: #ffecc1;
            border-radius: 20px;
            padding: 10px 0;
            margin-bottom: 10px;
        }

        #reportForm{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #4a4a4a;
            white-space: pre;
        }

        .reportBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;
            color: white;
            font-size: 10px;
        }

        #reportSubmitBtn {
            background-color: #e65729;
            width: 50px;
            height: 25px;
            border-radius: 5px;
        }

        #reportCancelBtn {
            background-color: #404040;
            width: 50px;
            height: 25px;
            border-radius: 5px;
        }

        /* 반응형 */
        @media screen and (max-width: 844px) {
             /* chat-container */
             .chat-box {
                width: 400px;
            }

            .chat-framer{
                display: flex;
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;
                overflow-x: hidden;
            }

            .input-container {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 0;
                padding: 0;
            }

            .input-box {
                /* display: flex; */
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 0 10px;
                gap: 15px;
            }

            .input-msg{
                width: 280px;
                height: 5vh;
            }


        }

        /* 모바일 */
        @media screen and (max-width: 430px) {
           

            .enter-section #coverImg {
                width: 300px;
            }

            #enterBtn {
                margin-top: -300px;
            }
            
            /* chat-container */
            .chat-box {
                justify-content: center;
                align-items: center;
                width: 320px;
                height: 480px;
                overflow-x: hidden;
            }

            .chat-framer {
                justify-content: center;
                align-items: center;
                height: 500px;
                overflow-x: hidden;
            }

            .chat-notification-container {
                display: flex;
                margin: 0;
                padding: 0;
                width: 95%;
                height: 10vh;
                padding-bottom: 15px;
            }

            .scrolling-text {
                white-space: pre-line;
                font-size: 13px;
            }

            .report-container {
                width: 90%;
            }

            #reportForm {
                gap: 0;
                white-space: pre;
                font-size: 12px;
                
            }


            .input-container {
                display: flex;
                width: 100%;
                height: 60px;
                background: #ece5dd;
            }

            .input-box {
                /* display: flex; */
                width: 100%;
                flex-direction: row;
                align-items: center;
                /* justify-content: center; */
                justify-content: space-between;
                margin: 0 10px;
                gap: 10px;

            }

            .input-msg {
                flex: 1; /*모바일 크기 자동 조절*/
                width: 200px;
                height: 30px;
                border-radius: 20px;
                padding-left: 10px; 
                padding-right: 10px;
                font-size: 14px;
                border: none;
                z-index: 1000;
            }

            #emoji-btn {
                background: none;
                height: 20px;
            }

            #emoji-btn img {
                background-color: inherit;
            }

            #send {
                /* background-color: #4a4a4a; */
                width: 20px;
                height: 20px;
                border-radius: 7px;
                text-align: center;
            }
        
            #send:hover{
                background-color: #252525;
            }

            
        }